#event1-0-1 {
    background-image: url('start_240.png');
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    width: 65px;
    height: 65px;
}

#event1-0-2 {
    background-image: url('start_240.png');
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    width: 65px;
    height: 65px;
}

#event1-0-3 {
    background-image: url('start_240.png');
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    width: 65px;
    height: 65px;
}

#event1-0-4 {
    background-image: url('start_240.png');
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    width: 65px;
    height: 65px;
}

#event1-1 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
  
#event1-2 {
    background-image: url('Work_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-3 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-4 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-5 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-6 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-7 {
    background-image: url('Work_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-8 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-9 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-10 {
    background-image: url('Work_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-11 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-12 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-13 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-14 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-15 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: left;
    position: relative;
}

#event1-16 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-17 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-18 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-19 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-20 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-21 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-22-1 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-22-2 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-23 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-24 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-25 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: left;
    position: relative;
}

#event1-26 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-27 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-28 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-29 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-30-1 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-30-2 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-31 {
    background-image: url('Autumn_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
  
#event1-32 {
    background-image: url('Circle_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-33 {
    background-image: url('Work_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-34 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-35 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-36 {
    background-image: url('Autumn_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-37 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-38 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-39 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-40 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-41 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-42-1 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-42-2 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-43 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-44-1 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-44-2 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-45 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-46 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-47 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-48 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-49 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event1-50-1 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event1-50-2 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}
