#event2-0-1 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: left;
    position: relative;
}

#event2-0-2 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: right;
    position: relative;
}

#event2-1 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
  
#event2-2 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-3 {
    background-image: url('Work_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-4 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-5 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-6 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-7 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-8 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-9 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-10-1 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-10-2 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-11 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-12 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-13 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-14 {
    background-image: url('Summer_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-15-1 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-15-2 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-16 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-17 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-18 {
    background-image: url('Autumn_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-19 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-20 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-21 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-22 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-23 {
    background-image: url('Winter_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-24 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-25-1 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-25-2 {
    background-image: url('Test_96.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-26 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-27 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-28 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-29 {
    background-image: url('Spring_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event2-30-1 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: left;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

#event2-30-2 {
    background-image: url('result.png');
    background-size: cover;
    position: relative;
    background-size: 130px 65px;
    background-position: right;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}
