#event5-0-1 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: left;
    position: relative;
}

#event5-0-2 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: right;
    position: relative;
}

#event5-1 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-2 {
    background-image: url('Negative_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-3 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-4 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-5 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-6 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-7 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-8 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-9 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-10 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-11 {
    background-image: url('Positive_96.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#event5-12-1 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: left;
    position: relative;
}

#event5-12-2 {
    background-image: url('start_notext_96.png');
    background-size: cover;
    background-position: right;
    position: relative;
}